@charset "UTF-8";

body{
 background-image: linear-gradient(to right, #bceafccc, #7ca8bbcc);
 font-family: Arial, Helvetica, sans-serif
}
h1{
    color: #0A4F6B;
    text-align: center;
    text-shadow: 1px 1px 2px #073f55;
}
h2{
    color: #465D66;
}
p{ 
    text-align: justify;
}
main {
    background-color: rgb(255, 255, 255);
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #6b8c9bb7;
}